/*------------- CSS RESET -----------------------*/

*{
  padding: 0;
  margin: 0;
  font-size: 100%;
  line-height: 1em;
  overflow-x: hidden;
  overflow-y: ;
}

body{
  /*width: 75%;
  max-width: 700px;*/
  font-family: 'Helvetica Light','Open Sans','Arial', sans-serif;
  /*font-family: 'Libre Baskerville', Georgia, Times, 'Times New Roman',serif;*/
  margin: auto;
  background-color: #ffffff;*/
  /*background-color: #fafafa;*/
  color: #333;
  line-height: 1.8;
  overflow-x: hidden;
  overflow-y: ;
}

@font-face {
  font-family: 'Helvetica';
  src:url('../fonts/Helvetica-Condensed-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica Medium';
  src:url('../fonts/Helvetica-Condensed.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica Light';
  src:url('../fonts/HelveticaNeueLTStd-UltLtCn.otf') format('opentype');
}





::-webkit-scrollbar {
    display: none;
    -webkit-overflow-scrolling: touch;
}




/*---------------- NAV --------------------*/

nav{

  /*border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;*/
  margin-bottom: ;
  z-index: 2;
  width: 60vw;
  overflow-y: hidden;
}

ul.nav {
  overflow-y: hidden;
  display: inline;
  vertical-align: middle;
  height: 3vh;
}

nav ul{
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav ul li{
  font-family: 'Helvetica Medium';
  font-weight: bold;
  display: inline;
  margin-left: 20px;
  padding-right: 1vw;
}

nav ul li a {
  color: #333333;
  text-decoration: none;
  opacity: .6;
}

nav a:hover{
  border-bottom: none;
  color: #a6a6a6;
}

.other-nav {
  background-color: white;
  position: absolute;
  display: inline;
}

/*---------------- GRID ---------------------*/


.wrapper {
  display: grid;
  grid-template-columns: 18.5vw 40.75vw 40.75vw;
  grid-template-rows: 9vh 20vh auto auto auto auto;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  padding: 20px;
  font-size: 150%;
}

.a {
  background-color: #029d9a;
  grid-row-start: 1;
  grid-row-end: -4;
  overflow: scroll;
}

.b {
  background-color: #ffffff;
  color: #58595b;
  grid-column-start: 2;
  grid-column-end: -1;
}

.c {
  background-color: #f1f2f2;
  color: #58595b;
  grid-column-start: 2;
  grid-column-end: -1;
}

.d {
  background-color: #e6e7e8;
  color: #58595b;
  grid-column-start: ;
  grid-column-end: ;
  overflow-y: scroll;

}

.e {
  background-color: #d1d3d4;
  color: #58595b;
  grid-column-start: ;
  grid-column-end: ;
  overflow-y: scroll;
}

.f {
  background-color: #029d9a;
  color: #fff;
  grid-column-start: 1;
  grid-column-end: -1;
  overflow-y: scroll;
}

.g {
  background-color: #E6E7E8;
  color: #58595b;
  grid-column-start: ;
  grid-column-end: ;
  overflow-y: scroll;
}

.h {
  background-color: #E6E7E8;
  color: #58595b;
  grid-column-start: 2;
  grid-column-end: -1;
  overflow-y: hidden;
}

.i {
  background-color: #D1D3D4;
  color: #58595b;
  overflow-y: hidden;
}

.j {
  background-color: #D1D3D4;
  color: #58595b;
  grid-column-start: 2;
  grid-column-end: -1;
  overflow-y: hidden;
}

/*------------------ LANDING ------------------------*/

div.landing {
  width: 100vw;
  height: 28vh;
  text-align: center;
  margin-top: 30vh
}

img.landing {
  width: 9.3vw;
  height: auto;

  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

div.landing-button {
  width: 100vw;
  text-align: center;
  margin-top: 1vh;
}

button.landing {
  display: inline-block;
  background-color: #333333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Helvetica Light';
    letter-spacing: 2px;

}

button.landing:hover {
  background-color: #a6a6a6;
  cursor: pointer;
}

div.landing-tag {
  margin-bottom: 1vh;
  height: 100vh;
  text-align: center;
}

p.landing-tag {
  font-family: 'Helvetica Medium';
  opacity: .6;
  position: relative;
  margin-top: 28vh;
}

/*---------------- EXPLORE ----------------------*/

div.logo {
  height: auto;
  width: auto;
  margin-left: 2vw;
  margin-top: 2vh;
}

img.corner-logo {
  width: 5vw;
  height: auto;
  position: absolute;
}

ul.explore-nav {
  margin-left: 8vw;
}

ul.explore-nav li {
  font-size: 1.5vw;
}


/*-------------- ELEMENT -----------------*/

div.title {
  height: auto;
  margin-left: .5em;
  margin-top: 1vh;
}

img.francium {
  width: 10vw;
  height: auto;
}

h2.francium {
  font-family: 'Helvetica';
  font-weight: lighter;
  margin-left: -.1vw;
  margin-top: 1vh;
  font-size: 6vh;
  height: 5.3vh;
  overflow-y: hidden;
}

h3.estb {
  font-family: 'Helvetica Light';
  font-weight: bolder;
  margin-left: -.1vw;
  font-size: 4.5vh;
  opacity: .4;
  height: 4.8vh;
  margin-top: -.5em;
  overflow-y: hidden;
}

p.appearance {
  margin-top: 1vh;
  font-family: 'Helvetica';
  font-size: 1.1em;
  line-height: 1em;
  height: auto;
  overflow-y:
}

p.bio-role {
  margin-top: 1vh;
  font-family: 'Helvetica';
  font-size: 1.1em;
  height: auto;
  overflow-y: hidden;
  line-height: 1.5em;
}

p.uses {
  font-family: 'Helvetica';
  font-size: 1.1em;
  height: auto;
  overflow-y: hidden;
  line-height: 1.5em;
}

p.natural {
  font-family: 'Helvetica';
  font-size: 1.1em;
  height: auto;
  line-height: 1.5em;
  overflow-y: hidden;
}

div.history {

  width: 90vw;
  height: auto;
  overflow-y: hidden;
}

p.history {
  margin-top: 1vh;
  font-family: 'Helvetica';
  font-weight: lighter;
  font-size: 1.1em;
  height: auto;
  overflow-y: hidden;
  line-height: 1.5em;
  overflow-y: hidden;
  margin-left: .5em;
}

p.tagline {
  font-family: 'Helvetica';
  font-weight: lighter;
  width: 8.5vw;
  font-size: 3.7vh;
  margin-left: -.1vw;
  height: 4em;
  margin-top: -.3vh;
  margin-bottom: 2vh;
  overflow-y: hidden;
}


div.history-title {
  color: #505052;
  margin-top: 2vh;
  background-color: white;
  width: 5em;
  text-align: center;
  margin-left: .5em;
  margin-bottom: 1vh;
}

h2.history {
  font-size: 1.7em;
  height: auto;
  overflow-y: hidden;
  margin: 5px;
}

h2 {
  font-family: 'Helvetica';
  font-size: 1.7em;
  margin-top: -1vh;
  height: 5vh;
  overflow-y: hidden;
  margin-bottom: .5em;
}

img.structure {
  width: 13vw;
  margin-top: 3vh;
  margin-left: .5em;
}

img.helium-structure {
  width: 15vw;
}

p.links {
  margin-top: 1.5vh;
  height: 15vh;
  font-family: 'Helvetica';
  font-size: 2.5vh;
  line-height: 3vh;
}

div.footer {
  height: 4vh;
  font-size: .8vw;
  font-family: 'Helvetica';
  text-align: center;
}

p.footer {
  margin-top: 1.3vh;
  letter-spacing: 2px;
}

a {
  color: grey;
  text-decoration: none;
}

a:hover {
  opacity: .6;
}

table {
  margin: auto;
  margin-top: 2vh;
}

td {
  width: 12vw;
  overflow-y: hidden;
  text-align: center;
  font-family: 'Helvetica';
  font-size: 3vh;
}

img.facts-squares {
  height: 2.5vw;
  width: auto;
}

a.pdf-blue {
  color: #029d9a;
  opacity: 1;
}

a.pdf-red {
  color: #991B28;
  opacity: 1;
}

a.pdf-light-brown {
  color: #C2B59C;
  opacity: 1;
}

a.pdf-brown {
  color: #A97C51;
  opacity: 1;
}


/*---------------- EXPLORE -------------------*/

div.choose {
  overflow-x: hidden;
  text-align: center;
}

h2#element {
  font-family: 'Helvetica Light';
  color: white;
  font-size: 4.1vw;
  position: absolute;
  bottom: -2vh;
  left: 1vw;
  z-index: -1;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 10vh;
}

h3#element {
  font-family: 'HelveticaRoman';
  color: #94c5c7;
  font-size: 1.3vw;
  position: absolute;
  bottom: 2vh;
  left: 1vw;
  z-index: -1;
  opacity: 0;
}

/*----- ELEMENT 1 --------*/

article.element1 {
  width: 16.7vw;
  height: 80vh;
  z-index: 1;
  position: absolute;
  bottom: 0;
  background-color: #029d9a;
  background: url(../images/francium1.png) center center no-repeat;
  background-size: cover;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

article.element1:hover {
  background-image: url(../images/francium2.png);
}

a.element1 {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 5;
}

#element1:hover #element {
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/*----- ELEMENT 2 --------*/

article.element2 {
  width: 16.7vw;
  height: 80vh;
  background-color: #991b28;
  background: url(../images/hydrogen1.png) center center no-repeat;
  z-index: 2;
  margin-left: 16.7vw;
  position: absolute;
  bottom: 0;
  background-size: cover;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

article.element2:hover {
  background-image: url(../images/hydrogen2.png);
}

a.element2 {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 5;
}

#element2:hover #element {
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/*----- ELEMENT 3 --------*/

article.element3 {
  width: 16.7vw;
  height: 80vh;
  background-color: #60b646;
  background: url(../images/helium1.png) center center no-repeat;
  z-index: 3;
  margin-left: 33.4vw;
  position: absolute;
  bottom: 0;
  background-size: cover;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

article.element3:hover {
  background-image: url(../images/helium2.png);
}

a.element3 {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 5;
}

#element3:hover #element {
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/*----- ELEMENT 4 --------*/

article.element4 {
  width: 16.7vw;
  height: 80vh;
  background-color: #6e509f;
  background: url(../images/lithium1.png) center center no-repeat;
  z-index: 3;
  margin-left: 50.1vw;
  position: absolute;
  bottom: 0;
  background-size: cover;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

a.element4 {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 5;
}

article.element4:hover {
  background-image: url(../images/lithium2.png);
}

#element4:hover #element {
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/*----- ELEMENT 5 --------*/

article.element5 {
  width: 16.7vw;
  height: 80vh;
  background-color: #f2642f;
  background: url(../images/boron1.png) center center no-repeat;
  z-index: 2;
  margin-left: 66.8vw;
  position: absolute;
  bottom: 0;
  background-size: cover;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

article.element5:hover {
  background-image: url(../images/boron2.png);
}

a.element5 {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 5;
}

#element5:hover #element {
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/*----- ELEMENT 6 --------*/

article.element6 {
  width: 16.7vw;
  height: 80vh;
  background-color: #f2642f;
  background: url(../images/oxygen1.png) center center no-repeat;
  z-index: 2;
  margin-left: 83.5vw;
  position: absolute;
  bottom: 0;
  background-size: cover;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

article.element6:hover {
  background-image: url(../images/oxygen2.png);
}

a.element6 {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 5;
}

#element6:hover #element {
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/*----------- HYDROGEN -------------*/

.hydrogen {
  background-color: #991b28;
}

/*----------- HELIUM -------------*/

.helium {
  background-color: #c2b59c;
}

/*----------- LITHIUM -------------*/

.lithium {
  background-color: #029d9a;
}

/*----------- BORON -------------*/

.boron {
  background-color: #a97c51;
}

/*----------- OXYGEN -------------*/

.oxygen {
  background-color: #991b28;
}

/*---------------------------------- MOBILE ----------------------------------------------------*/

@media (max-width: 1100px) {

html, body {
  overflow-x: hidden;
}

.wrapper {
  display: block;
}

.box {
  width: 100vw;
}

/*---------------- ELEMENT -------------------------*/

img.francium {
  width: 60vw;
}

p.tagline {
  width: 60vw;
}

img.structure {
  width: 60vw;
}

.a {
  padding-left: 16vw;
}

h2 {
  height: 6vh;
}


/*---------------- NAV --------------------*/

nav{

  /*border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;*/
  margin-bottom: ;
  z-index: 2;
  width: 90vw;
  overflow-y: hidden;
}

ul.nav {
  overflow-y: hidden;
  display: inline;
  vertical-align: middle;
  height: 10vh;
  font-size: 5.5vw;
}

nav ul{
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav ul li{
  font-family: 'Helvetica Medium';
  font-weight: bold;
  display: inline;
  margin-left: 20px;
  padding-right: 1vw;
}

nav ul li a {
  color: #333333;
  text-decoration: none;
  opacity: .6;
}

nav a:hover{
  border-bottom: none;
  color: #a6a6a6;
}

.other-nav {
  background-color: white;
  position: absolute;
  display: inline;
}

table {
  margin: auto;
  margin-top: 2vh;
}

td {
  width: 90vw;
  overflow-y: hidden;
  text-align: center;
  font-family: 'Helvetica';
  font-size: 3vh;
}

p.bio-role {
  width: 80vw;
}

p.history {
  width: 80vw;
}

p.uses {
  width: 80vw;
}

p.natural {
  width: 80vw;
}

div.footer {
  height: auto;
}

p.footer {
  width: 80vw;
  font-size: 5vw;
  padding-top: .5em;
  padding-bottom: .5em;
  line-height: 2.5vh;
  margin: auto;
}

/*------------------ LANDING ------------------------*/

div.landing {
  width: 100vw;
  height: 28vh;
  text-align: center;
  margin-top: 20vh
}

img.landing {
  width:40vw;
  height: auto;

  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

button.landing:hover {
  background-color: #a6a6a6;
  cursor: pointer;
}

div.landing-tag {
  margin-bottom: 1vh;
  height: 100vh;
  text-align: center;
}

p.landing-tag {
  font-family: 'Helvetica Medium';
  opacity: .6;
  position: relative;
  margin: auto;
  width: 80vw;
  margin-top: 33vh;
  line-height: 2.5vh;
}

/*------------- EXPLORE ----------------*/

article.element1 {
  display: block;
  width: 100vw;
  height: 34vh;
  background: url(../images/francium1.png) center -25vh no-repeat;
  background-size: cover;
  margin-top: 3vh;
}

a.element1 {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 5;
}

article.element2 {
  display: block;
  width: 100vw;
  height: 34vh;
  background: url(../images/hydrogen1.png) center -20vh no-repeat;
  background-size: cover;
}

a.element2 {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 5;
}

article.element3 {
  width: 100vw;
  height: 34vh;
  background: url(../images/helium1.png) center -20vh no-repeat;
  background-size: cover;
}

a.element3 {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 5;
}

article.element4 {
  width: 100vw;
  height: 34vh;
  background: url(../images/lithium1.png) center -25vh no-repeat;
  background-size: cover;
}

a.element4 {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 5;
}

article.element5 {
  width: 100vw;
  height: 34vh;
  background: url(../images/boron1.png) center -25vh no-repeat;
  background-size: cover;
}

a.element5 {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 5;
}

article.element6 {
  width: 100vw;
  height: 34vh;
  background: url(../images/oxygen1.png) center -25vh no-repeat;
  background-size: cover;
}

a.element6 {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 5;
}
