/*------------- CSS RESET -----------------------*/

*{
  padding: 0;
  margin: 0;
  font-size: 100%;
  line-height: 1em;
  overflow-x: hidden;
}

body{
  /*width: 75%;
  max-width: 700px;*/
  font-family: 'Helvetica Light','Open Sans','Arial', sans-serif;
  /*font-family: 'Libre Baskerville', Georgia, Times, 'Times New Roman',serif;*/
  margin: auto;
  background-color: #ffffff;*/
  /*background-color: #fafafa;*/
  color: #333;
  line-height: 1.8;
  overflow-x: hidden;
  overflow-y: hidden;
}

@font-face {
  font-family: 'Helvetica';
  src:url('../fonts/Helvetica-Condensed-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica Medium';
  src:url('../fonts/Helvetica-Condensed.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica Light';
  src:url('../fonts/HelveticaNeueLTStd-UltLtCn.otf') format('opentype');
}


/*
::-webkit-scrollbar {
    display: none;
    -webkit-overflow-scrolling: touch;
}*/


.wrapper {
  display: grid;
  grid-template-columns: 18.5vw 28vw 5vw 23vw 25.5vw;
  grid-template-rows: 9vh 20vh 19.5vh 51.5vh;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  padding: 20px;
  font-size: 150%;
}

.a {
  background-color: #029d9a;
  grid-row-start: 1;
  grid-row-end: -1;
}

div.title {
  height: auto;
  margin-left: 2.1vw;
  margin-top: 3vh;
}

img.francium {
  width: 8.4vw;
  height: auto;
}

h2.francium {
  font-family: 'Helvetica';
  font-weight: lighter;
  margin-left: -.1vw;
  margin-top: 1vh;
  font-size: 4.3vh;
  height: 4.8vh;
}

h3.estb {
  font-family: 'Helvetica Light';
  font-weight: bolder;
  margin-left: -.1vw;
  font-size: 4.5vh;
  opacity: .4;
  height: 4.8vh;
  margin-top: -1vh;
}

p.appearance {
  margin-top: 1vh;
  font-family: 'Helvetica';
  font-size: 2.3vh;
  height: 10vh;
}

p.tagline {
  font-family: 'Helvetica';
  font-weight: lighter;
  width: 8.5vw;
  font-size: 3.7vh;
  margin-left: -.1vw;
  height: 15vh;
  margin-top: -.3vh;
}

h2 {
  font-family: 'Helvetica';
  font-weight: ;
  font-size: 3.5vh;
  margin-top: -1vh;
  height: 4vh;
}



.b {
  background-color: #ffffff;
  color: #58595b;
  grid-column-start: 2;
  grid-column-end: -1;
}

.c {
  background-color: #f1f2f2;
  color: #58595b;
  grid-column-start: 2;
  grid-column-end: -1;
}

.d {
  background-color: #e6e7e8;
  color: #58595b;
  grid-column-start: 2;
  grid-column-end: -3;

}

.e {
  background-color: #d1d3d4;
  color: #58595b;
  grid-column-start: 4;
  grid-column-end: -1;
}

.f {
  background-color: #bcbec0;
  color: #58595b;
  grid-column-start: 2;
  grid-column-end: -4;
}

.g {
  background-color: #a7a9ac;
  color: #58595b;
  grid-column-start: 3;
  grid-column-end: -2;
}

.h {
  background-color: #029d9a;
}
